/doc/_build
*.pdf
*.log
*.aux
*.toc
*.out
*.bbl
*.blg
*.tex.bak
*.dvi
*.gz
*.pyc
.vscode/settings.json
*.ipynb
/.pytest_cache/
poetry.lock
.venv
venv

# TODO remove later
!NAC_search.ipynb
!NAC_benchmark.ipynb
!NAC_benchmark_presentation.ipynb
!NAC_playground.ipynb
.vscode
